body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}
a.back-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

a.back-button:hover {
    background-color: #0056b3;
}
